@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#navegacion li{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-weight: 700;
}

#logo{
    margin-top: 22px;
    margin-bottom: 22px;
    height: 40px;
}

#navegacion{
    text-align: center;
    
}

#principal{
    background-image: url("IMG/banner-principal.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#desarrollo{
    background-image: url("IMG/banner-secundario.jpg");

}

.botoncito{
    background-color:  #E21982;
    color: white;
    border: 1px solid  #E21982;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 700;
}