@font-face {
    font-family: "rickymorty";
    src: url(../Fonts/alternative-rick-and-morty-font/get-schwifty.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(../IMG/wallpapersden.com_rick-in-rick-and-morty_2560x1700.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    
}

nav>h1>a {
    font-family: 'rickymorty';
    color: greenyellow;
    font-size: 3em;
    text-decoration: none;
}

nav>ul>li>a {
    font-family: 'rickymorty';
    color: greenyellow;
    border: 1px solid greenyellow;
    margin: 0 7px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 1.5rem;

}

nav>ul>li>a:hover {
    color: green;
    border-color: green;
}

#bot-responsive {
    display: none;
}

table>thead>tr>td {
    text-align: center;
}

table>tfoot>tr>td {
    text-align: center;
}

ul>li>a {
    text-decoration: none;
}

ul>li {
    display: inline-block;
}

section {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
}

.tarjeta>img {
    border: 3px solid green;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tarjeta>blockquote {
    font-size: 17px;
}

.tarjeta>p {
    font-size: 17px;
    margin: 10px 7px;
}


.tarjeta {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    border: 1px solid green;
    text-align: center;
    margin: 20px 20px;
    border-radius: 10px;
    color: #E8E8E8;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url(../IMG/tarjetaBack.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tarjeta:hover {
    transform: translate(-10px, -10px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    transition: .5s;
}

#estadoP {
    position: relative;
}

#visor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nroPagina0,
.nroPagina,
.nroPagina2 {
    font-family: "rickymorty";
    color: lightgreen;
    font-size: 24px;
    font-weight: 100;
}

.bu {
    font-size: 1em;
    background-color: #262C3A;
    color: lightgreen;
    margin: 5px 5px;
    padding: 5px 10px;
    border-radius: 8px;
    width: auto;

}

.bu:hover {
    color: green;
    transform: .4s;
}

footer {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 130px;
    width: auto;
    text-align: center;
    color: #E8E8E8;
    
}




.redes>a {
    margin: 20px;
    font-size: 30px;
    color: green;
}

hr {
    width: 100%;
    
    color: #E8E8E8;
}

.redes>a:hover {
    font-size: 40px;
    transition: .6s;

}

.ancla {
    text-decoration: none;
    color: #E8E8E8;
    font-style: italic;
    font-size: 20px;
}


@media (max-width:576px) {
    nav {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #262C3A;
        padding: 20px;
    }
   
    #personajes>thead,
    #personajes>tfoot {
        display: none;
    }

    #bot-responsive {

        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: no-wrap;
        height: auto;
    }
    section{
        margin-top: 40px;
    }
    #bot-responsive>div,
    #bot-responsive>div>button {
        color: greenyellow;
        font-size: 1em;
        font-style: italic;
        text-align: center;
    }

    nav>ul {
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
        gap: 0 1.5em;
    }

    nav>h1>a {
        font-size: 3rem;
    }

    nav>ul>li>a {

        font-size: 1em;
    }

    td {
        display: grid;
    }
    footer > p, .ancla{
        font-size: 12px;
    }
}

@media screen and (min-width:577px) and (max-width: 768px) {
  
    nav {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #262C3A;
        padding: 20px;
        gap: 30px;
    }
    section{
        margin-left: 1em;
        margin-right: 1em;
    }

    /* #personajes >  thead > tr{
        display: flex;
        justify-content: space-around;
    } */
    #tablaPersonajes > tr{
        width: 100vw;
        display: grid;
        grid-template-columns: auto auto;

    }
    #personajes > thead, #personajes > tfoot {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    
    /* #personajes > thead > tr > td{
        font-size: .7em;
    } */
    .nroPagina{
        margin-inline: 5px;
    }
    .tarjeta{
        width: 300px;
    }
    .tarjeta>img{
        width: 70%;
    }

    footer{
        height: 110px;
        margin-top: 0;
    }
    footer > p, .ancla{
        font-size: 15px;
    
    }
}

@media screen and (min-width: 769px) and (max-width:992px){
    nav {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #262C3A;
        padding: 20px;
        gap: 30px;
    }

    #tablaPersonajes > tr{
        width: 100vw;
        display: grid;
        grid-template-columns: auto auto auto auto;

    }
    .tarjeta{
        width: 200px;
        height: 350px;
    }
    .tarjeta>img{
        width: 70%;
    }
    .tarjeta>blockquote {
        font-size: 12px;
    }
    
    .tarjeta>p {
        font-size: 12px;
        margin: 10px 7px;
    }
    #personajes > thead, #personajes > tfoot {
        display: flex;
        justify-content: center;
       
    }
    #personajes > thead > tr, #personajes > tfoot > tr {
        margin: 0 20px;
    }
section{
    margin-left: .2em;
}
}